.items_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e2e8f0;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
@media screen and (max-width: 850px) {
  .items_container {
    flex-direction: column;
  }
}

.item_image {
  height: 50px;
  width: 50px;
  color: red;
}
