.bg_container_courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.courses_header {
  font-family: sans-serif;
  font-weight: 33px;
  color: black;
  font-weight: 600;
}
.courses_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.cisco_course_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  width: 35vw;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  box-shadow: 4px 4px 4px 4px rgb(100, 98, 98);
  border: none;
}
.cisco_course_container:hover {
  box-shadow: none;
}
.ccna_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  width: 35vw;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  box-shadow: 4px 4px 4px 4px rgb(100, 98, 98);
  border: none;
}
.ccna_container:hover {
  box-shadow: none;
}
.cisco_image {
  height: 30vh;
  width: 80%;
  border-radius: 10px;
}
.ccna_image {
  height: 30vh;
  width: 80%;
  border-radius: 10px;
}
.cisco_header {
  font-family: sans-serif;
  font-size: 22px;
  color: black;
  margin-top: 20px;
  font-weight: 400;
}
.ccna_header {
  font-family: sans-serif;
  font-size: 22px;
  color: black;
  margin-top: 20px;
  font-weight: 400;
}
.cisco_description {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(12, 12, 12, 0.832);
  text-align: justify;
  margin: 20px;
  line-height: 1.5rem;
}
.ccna_description {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba(12, 12, 12, 0.832);
  text-align: justify;
  margin: 20px;
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  .courses_container {
    flex-direction: column;
    width: 100%;
  }
  .cisco_course_container {
    width: 100%;
    margin-bottom: 20px;
  }
  .cisco_image {
    width: 90%;
  }
  .ccna_container {
    width: 100%;
  }
}
/*..................enroll details..........*/
.enroll_bg_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: 35vh;
  background-color: rgb(116, 200, 200);
  border: none;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 60px;
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  box-shadow: 4px 4px 4px 4px rgb(100, 98, 98);
}
.enroll_bg_container:hover {
  box-shadow: none;
}
.enroll_image {
  height: 100%;
  width: 40%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.enroll_details_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  text-align: center;
}
.enroll_head {
  font-size: 22px;
  font-family: sans-serif;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}
.enroll_button {
  font-family: sans-serif;
  padding: 10px;
  color: white;
  background-color: black;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 2s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.enroll_button:hover {
  background-color: blue;
}
@media screen and (max-width: 768px) {
  .enroll_image {
    width: 50%;
  }
  .enroll_details_container {
    margin-left: 5px;
  }
  .enroll_head {
    font-size: 18px;
  }
}
